---
import '../styles/theme.css';
import NavBar from '../components/NavBar.astro';
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{Astro.props.title || 'Salvida'}</title>
    <script type="module" src="../theme/client.js"></script>
  </head>
  <body>
    <NavBar />
    <main class="container">
      <slot />
    </main>
  </body>
</html>
