---
import UserProfile from '../components/UserProfile.jsx';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Perfil</title>
  </head>
  <body>
    <UserProfile client:load />
  </body>
</html>
